
<div class="alert alert-info" *ngIf="!pais; else divPais">
    Espere por favor...
</div>

<ng-template #divPais>
    <div class="row" >
        <div class="col-12">
            <h1>País: <small>{{ pais[0].name.common }}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais[0].flags.svg" class="img-thumbnail" alt="pais[0].name.common">
        </div>
        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población</strong> {{ pais[0].population | number }}
                </li>
                <li class="list-group-item">
                    <strong>Código numérico</strong> {{ pais[0].ccn3 }}
                </li>
                <li class="list-group-item">
                    <strong>Código alpha3</strong> {{ pais[0].cca2 }}
                </li>
            </ul>
        </div>
    </div>

    <h3>Traducciones</h3>
    <div class="row">
        <div class="col">
            <span class="bagde bg-primary mr-1" style="color: white;">{{ pais[0].translations.spa.common }}</span>
            <span class="bagde bg-primary mr-1" style="color: white;">{{ pais[0].translations.rus.common }}</span>
            <span class="bagde bg-primary mr-1" style="color: white;">{{ pais[0].translations.jpn.common }}</span>
            <span class="bagde bg-primary mr-1" style="color: white;">{{ pais[0].translations.ita.common }}</span>
            <span class="bagde bg-primary mr-1" style="color: white;">{{ pais[0].translations.kor.common }}</span>
            <span class="bagde bg-primary mr-1" style="color: white;">{{ pais[0].translations.pol.common }}</span>
            <span class="bagde bg-primary mr-1" style="color: white;">{{ pais[0].translations.por.common }}</span>
            <span class="bagde bg-primary mr-1" style="color: white;">{{ pais[0].translations.swe.common }}</span>
            <span class="bagde bg-primary mr-1" style="color: white;">{{ pais[0].translations.zho.common }}</span>
        </div>
    </div>

    <!-- <pre class="mt-5">
        {{ pais[0] | json}}
    </pre> -->
</ng-template>


