<div class="animate__animated animate__fadeIn animate__faster">
    <h3>Buscar por region <small> {{ regionActiva | titlecase}} </small></h3>

    <h5>Seleccione una region</h5>

    <div class="row">

        <!-- [class.btn-primary]="region === regionActiva" -->

        <!-- ngClass]="{
            'btn-primary': regionActiva === region,
            'btn-outline-primary': regionActiva !== region
        }" -->

        <div class="col buttons">
            <button *ngFor="let region of regiones"
                    [class]="getClaseCSS( region )"
                    (click)="activarRegion( region )">
                {{ region | titlecase }}
            </button>
        </div>

        <hr>
    </div>
</div>


<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
